@model MvcTempates.Models.EmployerSearchViewModel
@using MvcTempates.HtmlHelperExtensions
@using PagedList;
@using PagedList.Mvc;



@{
    ViewBag.Title = "Employers";
}

<h2>@ViewBag.Title</h2>

@Html.TableWithSearchField(Model.ResultSet, "Employer", Model.CurrentSortedColumn, Model.SortedColumn, Model.SortDirection)

<p>
    @Html.ActionLink("Create New", "Create",null, new {@class = "button"})
    
    
</p>

